nav#sidebarMenu.bg-dark.sidebar.h-100(aria-label="Navegación principal" data-bs-theme="dark")
  .position-sticky.pt-3
    ul.nav.flex-column
      li.nav-item
        a.nav-link.active.d-flex.align-items-center.px-3.text-white(aria-current="page" href="/")
          i.bi.bi-speedometer2.me-2
          span Dashboard

    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-secondary
      span Usuarios
    ul.nav.flex-column.mb-2
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/usuarios/Listar")
          i.bi.bi-file-earmark-text.me-2
          span Gestion de usuarios

    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-secondary
      span Pacientes y Admision 
    ul.nav.flex-column.mb-2
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Pacientes y Admision 
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Reporte anual

    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-secondary
      span Evaluacion y Seguimiento
    ul.nav.flex-column.mb-2
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Gestion de Habitaciones
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Reporte anual

    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-secondary
      span Seguimiento clinico 
    ul.nav.flex-column.mb-2
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Reporte mensual
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Reporte anual

    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-secondary
      span Gestion de Habitaciones
    ul.nav.flex-column.mb-2
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Reporte mensual
      li.nav-item
        a.nav-link.d-flex.align-items-center.px-3.text-white(href="/")
          i.bi.bi-file-earmark-text.me-2
          span Reporte anual
